:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?w=620&auto=format&fit=crop&q=60&ixlib=rb-4.0.3");
  background-position: center center; /* Ensures the image stays centered */
  background-size: cover; /* Ensures the background fills the viewport */
  background-repeat: no-repeat;
  background-color: #2c2c2c;
  background-blend-mode: soft-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  background-size: 150%; /* Force zoom on larger screens */
  background-attachment: scroll; /* Make sure the background scrolls with content */
}

@media (max-width: 768px) {
  body {
    background-size: cover; /* Revert to cover on smaller screens like phones */
  }
}
