:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("https://scontent.fmnl13-1.fna.fbcdn.net/v/t39.30808-6/468173412_9739162639443949_6672834856336105484_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeHRseRdNJIrQ90tTVZkqiPEcQTas2QKmYNxBNqzZAqZg0FGKpChoUOZkoTYm1jLvRZWS47joADAA8QUOSw9PAje&_nc_ohc=NDcQ8-p2IIYQ7kNvgF6zdL4&_nc_oc=AdjpKd9b6dkkF8C5HE_6SUkYDqAS-387aWciuEcHBfnXT3cQVf0WbtDRXqltuCRKc2g&_nc_zt=23&_nc_ht=scontent.fmnl13-1.fna&_nc_gid=ATP8SZbBK0ZAG7zlreS3NOc&oh=00_AYAlOqBS_kCKpBzwdGxcVTZbtzztCXILPkYdr5QdYcsgzg&oe=67BF3554");
  background-position: center center; /* Ensures the image stays centered */
  background-size: cover; /* Ensures the background fills the viewport */
  background-repeat: no-repeat;
  background-color: #2c2c2c;
  background-blend-mode: soft-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; /* Ensure it takes the full viewport height */
  background-size: 150%; /* Force zoom on larger screens */
  background-attachment: scroll; /* Make sure the background scrolls with content */
}

@media (max-width: 768px) {
  body {
    background-size: cover; /* Revert to cover on smaller screens like phones */
  }
}
